footer{
    
    div{
        
        #inputPassword2{
            width: 200px;
            color: white
        }
    }
    div{
        #facebook{
            height: 50%;
            width: 50%;
        }
    }

}